<!doctype html>
<html ng-app="dmsApp">
<head lang="en">
    <meta charset="utf-8">
    <title>益谷上禾商城-首页/ 注册</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="cache-control" content="no-siteapp"/>

    <% include  ../template/script.html %>

    <link href="/css/dlstyle.css" rel="stylesheet" type="text/css">
    <script src="/modules/home/register.js"></script>
</head>
<body ng-controller="registerCtrl">
    <div class="login-boxtitle">
        <a href="/"><img alt="" src="/images/logobig.png"/></a>
    </div>
    <div class="res-banner">
        <div class="res-main">
            <div class="login-banner-bg">
                <span></span><img src="/images/big.jpg"/>
            </div>
            <div class="login-box">
                <div class="am-tabs" id="doc-my-tabs">
                    <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
                        <!--<li><a href="">邮箱注册</a></li>-->
                        <li class="am-active"><a>注册账号</a></li>
                        <!--<li><a href="/login" >登录</a></li>-->
                    </ul>
                    <div class="am-tabs-bd">
                        <div class="am-tab-panel am-active">
                            <form name="registerFormName" ug-validate="registerForm">
                                <div class="user-phone">
                                    <label for="phoneNumber"><i class="am-icon-mobile-phone am-icon-md"></i></label>
                                    <input type="text" required="true" ng-model="user.phoneNumber" data-msg-required="请输入手机号码" name="phoneNumber" id="phoneNumber" placeholder="请输入手机号码">
                                </div>
                                <div class="verification">
                                    <label for="code"><i class="am-icon-code-fork"></i></label>
                                    <input type="text" required="true" name="phoneIdentifyCode" ng-model="user.phoneIdentifyCode" data-msg-required="请输入验证码" id="code" placeholder="请输入验证码">
                                    <a class="btn" ng-if="!tips.disabled" href="javascript:void(0);" ng-click="sendValidCode()">
                                        <span ng-bind="tips.message"></span>
                                    </a>
                                    <a class="btn" ng-if="tips.disabled" href="javascript:void(0);">
                                        <span ng-bind="tips.message"></span>
                                    </a>
                                </div>
                                <div class="user-pass">
                                    <label for="phonePassword"><i class="am-icon-lock"></i></label>
                                    <input type="password" required="true" name="password" data-msg-required="请输入密码" ng-model="user.password" id="phonePassword" placeholder="设置密码">
                                </div>
                                <div class="user-pass">
                                    <label for="phonePasswordrepeat"><i class="am-icon-lock"></i></label>
                                    <input type="password" data-rule-equalTo="#phonePassword" data-msg-equalTo="两次输入的密码不相同" data-msg-required="请输入密码" name="passwordrepeat" ng-model="user.passwordRepeat" id="phonePasswordrepeat" placeholder="确认密码">
                                </div>
                            </form>
                            <div class="am-cf">
                                <input type="submit" id="register2" ng-click="register()" value="注册" class="am-btn am-btn-primary am-btn-sm am-fl">
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer ">
            <div class="footer-hd ">
                <p>
                    <a href="#">益谷上禾</a>
                    <b>|</b>
                    <a href="/">商城首页</a>
                    <b>|</b>
                    <a href="# ">物流</a>
                </p>
            </div>
            <div class="footer-bd ">
                <p>
                    <a href="# ">益谷上禾</a>
                    <a href="# ">合作伙伴</a>
                    <a href="# ">联系我们</a>
                    <a href="/person/address.html">网站地图</a>
                    <em>© 2015-2025 益谷上禾 版权所有 </em>
                </p>
            </div>
        </div>
    </div>
</body>
</html>