<% include  ../template/header.html %>
<link href="css/seastyle.css" rel="stylesheet" type="text/css" />
<!--<script type="text/javascript" src="/js/script.js"></script>-->
<script src="/modules/home/search.js"></script>

<div class="search" ng-controller="searchCtrl">
	<div class="search-list">
		<div class="am-g am-g-fixed">
			<div class="am-u-sm-12 am-u-md-12">
				<ul class="select">
					<div class="clear"></div>
					<li class="select-result">
						<dl>
							<dt>已选</dt>
							<dd class="select-no"></dd>
							<p class="eliminateCriteria">清除</p>
						</dl>
					</li>
					<div class="clear"></div>
					<li class="select-list">
						<dl id="select2">
							<dt class="am-badge am-round">种类</dt>
							<div class="dd-conent">
								<dd class="select-all" ng-class="{'selected': pageSetting.category1.id == item.id}" ng-repeat="item in categorys">
									<a href="javascript:void(0)" ng-click="choseLevel(item)" ng-bind="item.name"></a>
								</dd>
							</div>
						</dl>
					</li>
					<li class="select-list" ng-if="pageSetting.category1.nodes">
						<dl id="select3">
							<dt class="am-badge am-round">种类明细</dt>
							<div class="dd-conent">
								<dd class="select-all" ng-class="{'selected':pageSetting.category2.id == item.id}" ng-click="choseLevel2(item)" ng-repeat="item in pageSetting.category1.nodes">
									<a  href="javascript:void(0)" ng-bind="item.name"></a>
								</dd>
							</div>
						</dl>
					</li>
				</ul>
				<div class="clear"></div>
			</div>
			<div class="search-content">
				<div class="clear"></div>

				<ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-5 boxes">
					<li ng-repeat="item in products" class="goods">
						<a href="/introduction.html?productId={{item.id}}">
						<div class="i-pic limit">
							<div class="wl">
								<a href="/introduction.html?productId={{item.id}}">
									<img src="{{item.picUrl}}" />
									<p class="title" ng-bind="item.itemName"></p>
									<p class="price">
										<strong ng-bind="item.sellPrice | currency:'￥'"></strong>
									</p>
									<p class="number fr font12">
										销量<span ng-bind="item.sellNum" class="font12"></span>
									</p>
								</a>
							</div>
							<ul class="goumai">
								<li><button type="button" class="goods_ipt-add" ng-click="pushCarts(item)"><i class="am-icon-shopping-cart  am-icon-fw"></i>加入购物车</button></li>
								<li><button type="button" class="goods_ipt-add" ng-click="buy(item)">立即购买</button></li>
							</ul>
						</div>
					</li>
				</ul>
				<div class="clear"></div>
				<!--分页 -->
				<uix-pagination page-info="pageInfo" load-event="getProducts" load-parameter="queryParams"></uix-pagination>
				<!--<ul class="am-pagination am-pagination-right">-->
					<!--<li class="am-disabled"><a href="#">&laquo;</a></li>-->
					<!--<li class="am-active" ng-repeat="page in pageInfo"><a href="#" ng-bind="page.num"></a></li>-->
					<!--&lt;!&ndash;<li><a href="#">2</a></li>&ndash;&gt;-->
					<!--&lt;!&ndash;<li><a href="#">3</a></li>&ndash;&gt;-->
					<!--&lt;!&ndash;<li><a href="#">4</a></li>&ndash;&gt;-->
					<!--&lt;!&ndash;<li><a href="#">5</a></li>&ndash;&gt;-->
					<!--<li><a href="#">&raquo;</a></li>-->
				<!--</ul>-->
			</div>
		</div>
	</div>
</div>
<!--引导 -->
<div class="navCir">
	<li><a href="/"><i class="am-icon-home "></i>首页</a></li>
	<li><a href="sort.html"><i class="am-icon-list"></i>分类</a></li>
	<li><a href="shopcart.html"><i class="am-icon-shopping-basket"></i>购物车</a></li>
	<li><a href="../person/index.html"><i class="am-icon-user"></i>我的</a></li>
</div>
<script>
	window.jQuery || document.write('<script src="basic/js/jquery-1.9.min.js"><\/script>');
</script>
<script type="text/javascript" src="/basic/js/quick_links.js"></script>

<div class="theme-popover-mask"></div>
<% include  ../template/footer.html %>
