<!DOCTYPE html>
<html ng-app="dmsApp">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>益谷上禾商城-首页</title>

    <% include script.html %>

    <link href="/css/personal.css" rel="stylesheet" type="text/css">
    <link href="/css/hmstyle.css" rel="stylesheet" type="text/css">

</head>

<body ng-controller="dmsCtrl">
<div class="hmtop">
    <!--顶部导航条 -->
    <div class="am-container header">
        <ul class="message-l">
            <li class="topMessage">
                <div class="menu-hd">
                    <%if(user != ''){%>
                    <a href="/member/center" target="_top" class="h"><%=user%></a>
                    <a href="/logout" target="_top" class="h">退出</a>
                    <%}else{%>
                    <a href="/login" target="_top" class="h">亲，请登录</a>
                    <a href="/register" target="_top">免费注册</a>
                    <%}%>
                </div>
            </li>
        </ul>
        <ul class="message-r">
            <li class="topMessage home">
                <div class="menu-hd"><a href="/" target="_top" class="h">商城首页</a></div>
            </li>
            <li class="topMessage my-shangcheng">
                <div class="menu-hd MyShangcheng">
                    <a href="/member/information.html" target="_top">
                        <i class="am-icon-user am-icon-fw"></i>个人中心
                    </a>
                </div>
            </li>
            <li class="topMessage my-shangcheng">
                <div class="menu-hd MyShangcheng">
                    <a href="/member/shopcart.html" target="_top">
                        <i class="am-icon-shopping-cart  am-icon-fw"></i>购物车
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <!--顶部导航条 end-->

    <!--悬浮搜索框-->
    <div class="nav white">
        <ul class="logoBig">
            <li><a href="/" ><img src="/images/logobig.png" /></a></li>
        </ul>

        <div class="search-bar pr">
            <a name="index_none_header_sysc" href="/search.html"></a>
            <form>
                <input id="searchInput" ng-model="searchParams.keyword" class="date" name="index_none_header_sysc" type="text" placeholder="搜索" autocomplete="off">
                <input id="ai-topsearch" class="submit am-btn" value="搜索" ng-click="goSearch()" index="1" type="submit">
            </form>
        </div>
    </div>

    <div class="clear"></div>
</div>

<script>
    window.jQuery || document.write('<script src="basic/js/jquery.min.js "><\/script>');
</script>
<div class="shopNav">
    <div class="slideall am-sticky-placeholder">
        <div class="nav-cont" data-am-scrollspynav="{offsetTop: 90}" style="background:#fff" data-am-sticky>
            <ul>
                <li class="index select"><a href="/">首页</a></li>
                <li class="qc"><a href="/purchase.html">热门抢购</a></li>
                <li class="qc"><a href="/new-product.html">新品尝鲜</a></li>
                <li class="qc"><a href="/referral.html">热门推荐</a></li>
            </ul>
            <p class="fr mt16 ft12">客服电话：4008-670-558（时间：10：00至19：00）</p>
        </div>
        <b class="line" style="margin-top:-5px"></b>