<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

    <title>个人中心</title>

    <link href="/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
    <link href="/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">
    <script src="/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
    <script src="/AmazeUI-2.4.2/assets/js/amazeui.js"></script>
</head>

<body>
<!--头 -->
<header class="w">
    <article>
        <div class="mt-logo">
            <!--顶部导航条 -->
            <div class="am-container header">
                <ul class="message-l">
                    <li class="topMessage">
                        <div class="menu-hd">
                            <span class="fl">欢迎您！ 周奇奇</span>
                            <a href="">消息</a>
                        </div>
                    </li>
                </ul>
                <ul class="message-r">
                    <li class="topMessage home">
                        <div class="menu-hd"><a href="/" target="_top" class="h">商城首页</a></div>
                    </li>
                    <li class="topMessage my-shangcheng">
                        <div class="menu-hd MyShangcheng"><a href="/order.html" target="_top">已买到的商品</a></div>
                    </li>
                    <li class="topMessage my-shangcheng">
                        <div class="menu-hd MyShangcheng"><a href="/sort.html" target="_top">商品分类</a></div>
                    </li>
                    <li class="topMessage my-shangcheng">
                        <div class="menu-hd MyShangcheng"><a href="/user-index.html" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a></div>
                    </li>
                    <li class="topMessage mini-cart">
                        <div class="menu-hd"><a id="mc-menu-hd" href="/shopcart.html" target="_top"><i class="am-icon-shopping-cart  am-icon-fw"></i><span>购物车</span><strong id="J_MiniCartNum" class="h">0</strong></a></div>
                    </li>
                    <li class="topMessage favorite">
                        <div class="menu-hd"><a href="" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a></div>
                    </li>
                </ul>
            </div>

            <!--悬浮搜索框-->

            <div class="nav white">
                <ul class="logoBig">
                    <li><img src="/images/logobig.png" /></li>
                </ul>

                <div class="search-bar pr">
                    <a name="index_none_header_sysc" href="../home/search.html"></a>
                    <form>
                        <input id="searchInput" name="index_none_header_sysc" type="text" placeholder="搜索" autocomplete="off">
                        <input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
                    </form>
                </div>
            </div>

            <div class="clear"></div>
        </div>
    </article>
</header>

<div class="nav-table">
    <div class="nav-cont">
        <ul>
            <li class="index select"><a href="../home/home.html">首页</a></li>
            <li class="qc"><a href="">热门抢购</a></li>
            <li class="qc"><a href="#">新品尝鲜</a></li>
            <li class="qc"><a href="#">热门推荐</a></li>
        </ul>
    </div>
</div>
<b class="line"></b>
<div class="center">
    <div class="col-main">
        <aside class="">
            <ul>
                <li class="person active">
                    <a href="/user-index.html"><i class="am-icon-user"></i>个人中心</a>
                </li>
                <li class="person">
                    <p><i class="am-icon-newspaper-o"></i>个人资料</p>
                    <ul>
                        <li> <a href="/information.html">个人信息</a></li>
                        <li> <a href="/safety.html">安全设置</a></li>
                        <li> <a href="/address.html">地址管理</a></li>
                        <li> <a href="/cardlist.html">快捷支付</a></li>
                    </ul>
                </li>
                <li class="person">
                    <p><i class="am-icon-balance-scale"></i>我的交易</p>
                    <ul>
                        <li><a href="/order.html">订单管理</a></li>
                        <li> <a href="/change.html">退款售后</a></li>
                        <li> <a href="/comment.html">评价商品</a></li>
                    </ul>
                </li>
                <li class="person">
                    <p><i class="am-icon-dollar"></i>我的资产</p>
                    <ul>
                        <li> <a href="/points.html">我的积分</a></li>
                        <li> <a href="/coupon.html">优惠券 </a></li>
                        <li> <a href="/bonus.html">红包</a></li>
                        <li> <a href="/walletlist.html">账户余额</a></li>
                        <li> <a href="/bill.html">账单明细</a></li>
                    </ul>
                </li>

                <li class="person">
                    <p><i class="am-icon-tags"></i>我的收藏</p>
                    <ul>
                        <li> <a href="/collection.html">收藏</a></li>
                        <li> <a href="/foot.html">足迹</a></li>
                    </ul>
                </li>

                <li class="person">
                    <p><i class="am-icon-qq"></i>在线客服</p>
                    <ul>
                        <li> <a href="/consultation.html">商品咨询</a></li>
                        <li> <a href="/suggest.html">意见反馈</a></li>

                        <li> <a href="/news.html">我的消息</a></li>
                    </ul>
                </li>
            </ul>
        </aside>