<link href="/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
<link href="/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">
<link href="/js/layer/skin/default/layer.css" rel="stylesheet" type="text/css">

<script src="/AmazeUI-2.4.2/assets/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/js/jquery-validation/src/localization/messages_zh.js"></script>
<script src="/AmazeUI-2.4.2/assets/js/amazeui.js" type="text/javascript"></script>
<script src="/js/layer/layer.js" type="text/javascript"></script>
<script src="/js/angular/angular.js"></script>
<script src="/js/angular-resource/angular-resource.js"></script>
<script src="/js/angular-ui-xmomen/validate.js"></script>
<script src="/js/angular-ui-xmomen/xmomen-ui.js"></script>
<script src="/modules/app.rest.js"></script>
<script src="/modules/app.js"></script>